<ul class="nav justify-content-center mobile-nav-list d-lg-none sticky-top bg-white py-3">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: 'nav-link btn btn-sm btn text-info' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Projects', projects_path, class: 'nav-link text-info' %>
  </li>
  <li class="nav-item">
    <%#= link_to 'Resume', '/', class: 'nav-link text-info' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact', root_path+'#contact', class: 'nav-link text-info' %>
  </li>
</ul>